
@import url('https://fonts.cdnfonts.com/css/bigboz');
@import url('https://fonts.cdnfonts.com/css/sansserifbldflf');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Gentium Book Plus', sans-serif;  */
  font-family: 'Bigboz', sans-serif;                                                              font-family: 'SansSerifBldFLF', sans-serif;
                                                
}
body {
    height: 100vh;
    background-image: url("image/simon-infanger-ECctP9oPtio-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#lamp1 {
    position: absolute;
    height: 300px;
    z-index: 2;
}
#lamp2 {
    position: absolute;
    height: 300px;
    right: 0;
}
.conatainer {
    height: 100vh;
    color: #F3F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
header {
    padding: 50px 20px;
    font-size: x-large;
    text-align: center;
}
header h2 {
    margin-top: 15px ;
    margin-left: 150px;
}
.card {
    height: 150px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #f8f8f8;
    text-shadow: 10px 2px 20px black;
}
.card p {
    font-size: 4rem;
}
.dua {
    height: auto;
    border-radius: 20px;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: #0000006d;
    backdrop-filter: blur(15px);
}
.dua:hover {
    background: rgba(255, 255, 255, 0.199);
    color: black;
}
.dua h1 {
    text-align: left;
}
#arabic {
    text-align: right;
    font-size: 1.5rem;
    font-weight: bold;
}
#bangla {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
}
.photo {
    width: 430px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: url(image/—Pngtree—moon\ at\ night_1597234.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.photo h1 {
    text-align: center;
    padding: 20px 5px;
    color: white;
}
.image img {
    width: 420px;
    padding-left: 10px;
    animation: projectAnim linear;
    animation-timeline: view(); /*ANIMATION START WHEN CARD APPEAR TO THE SCREEN*/
    animation-range: entry 0% cover 40%;
}
footer {
    padding: 30px 20px;
    text-align: center;
}
@keyframes projectAnim{
    from{
        scale: (0);
        transform: translateX(-200px);
    }
    to{
        scale: (1);
        transform: translateX(0);
    }
}
@media (max-width: 768px) {

    body {
        height: 100dvh; 
    }
    #lamp1,
    #lamp2 {
        height: 120px;   
    }

    header {
        margin-top: 60px;
        /* padding: 30px 15px; */
        font-size: 1.1rem;
        text-align: center;
    }
    header h1 {
        white-space: nowrap;
        font-size: 2.5rem;
    }

    header h2 {
        margin: 10px 0 0 0; 
    }

    .conatainer {
        gap: 15px;
        padding: 20px;
        text-align: center;
    }

    .card {
        width: 90%;        
        height: auto;      
        padding: 20px 0;
    }
    .card h1 {
        padding-bottom: 15px;
        white-space: nowrap;
    }
    .card p {
        font-weight: bold;
        font-size: 2.5rem; 
    }
}
